$youtubeColor: #EE1B0D;
$movieColor: #ef4f00;
$educationalColor: #22c100;
$musicColor: #006ae2;
$adultColor: #c500d4;
@import "functions";

html, body {
  height: 100%;
}

div#root {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-loaded {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .filtering-type-loaded {
    position: sticky;
    z-index: 22;
    left: 0;
    top: 0;
    background: #fff;
    height: 100%;
    color: #6d6a6a;

    div[class^="ct-"][class$="-checked"] {
      div[class^="icon-"] {
        color: #000000;
      }
      color: #000000;
      background-color: #eee;
    }

    div[class^="ct-"] {
      pointer-events: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 14px 5px 20px 5px;
      cursor: pointer;

      &:hover {
        color: #000000;
        background-color: #eee;
        //animation: jello-horizontal 0.5s linear;

      }
    }

    div[class^="icon-"] {
      font-size: 20px;
      pointer-events: none;
      color: #828282;
      padding-bottom: 6px;
      @include Transition(all,700ms);
    }

    div.label {
      pointer-events: none;
      font-family: Arial,serif;
      font-size: 13px;
    }
  }

}
.search-container {
  width: 53%;
  padding-top: 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 4%;
  .screen-logo {
    width: 20vw;
    height: 27%;
    margin: 0 auto;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    //flex-flow: row wrap;
    //align-content: flex-end;

    .logo-svg {
      width: 100%;
    }
  }

  .logo-container {
    width: 100%;
    height: 27%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-svg g.logo-text path {
      stroke: #000;
      fill: #ffffff;
      fill-rule: evenodd;
      fill-opacity: 0.2;
      stroke-width: 0.8;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
     @include Animation(logoFill,4s,ease-in-out,1s,forwards);
    }
  }
}

.search-container-loaded {
  display: flex;
  width: 100%;
  height: 70px;
  margin-top: 2%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px solid #f3f3f3;

  .search-box-container {
    max-height: 50px;
  }
}

.logo-text.hide {
  display: none;
}

.screen-logo-loaded {
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-basis: 100px;

  .logo-svg {
    width: 100%;
  }

  .logo-container {
    display: flex;
  }
}

.main-image {
  width: 100%;
  height: 100%;
}

.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.list-videos {
  display: flex;
}

.list-videos-container {
  padding: 20px;
  background-color: #eeeeee82;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.right-arrow {
  cursor: pointer;
  align-self: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 48px;
  order: 0;
  display: flex;
  justify-content: center;

  .arrow {
    align-self: center;
    border-left: 1px solid #bcbec3;
    z-index: 3;

    .hsuHs-arrow {
      margin: auto;
      color: #9aa0a6;
      padding: 0 10px 0;

      .wFncld {
        margin-top: 10px;
        color: #9aa0a6;
        height: 20px;
        width: 20px
      }
    }
  }
}

.svg-magnifier {
  color: #9aa0a6;

}

.non-display {
  display: none;
}

.search-query-parent {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: none;
  width: 70%;
  height: 64px;
  margin: 4% auto 0;
}

.search-query-parent-loaded {
  display: flex;
  flex-grow: 2;
  align-self: flex-start;

  .search-box-container {
    width: 55%;
    max-height: 50px;
  }
}

.filtering-type {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  margin-top:5%;

  div[class^="ct-"] {
    padding: 5px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    @include borderRadius(3px);
    margin-right: 5px;
    cursor: pointer;
    pointer-events: auto;
  }

  div[class^="icon-"], .label {
    pointer-events: none;
  }

  .icon-checkbox-unchecked, .icon-checkbox-checked {
    padding: 5px;
  }

  .icon-youtube,
  .icon-movie,
  .icon-education,
  .icon-music,
  .icon-adult {
    padding: 0 10px 0 10px;
    display: none;
  }

  &#loaded {
    z-index: 1;
    justify-content: flex-start;
  }

  div[class$="-checked"] div[class^="icon-"] {
    display: block;
  }

  div[class^="ct-"][class$="-checked"] {
    color: #fff;
    background: #000;
    @include Animation(jello-horizontal,0.5s,linear, 1);
  }

  div[class^="ct-"][class$="-unchecked"] {
    -webkit-animation: jello-vertical 0.5s both;
    animation: jello-vertical 0.5s both;
  }
}

.search-box-container {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #bcbec3;
  @include borderRadius(30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  align-self: center;

  &:hover {
    @include boxShadow(0,-2px,5px,rgba(0, 0, 0, 0.2));
  }

  &:focus-within {
    @include boxShadow(0px,-1px,8px,rgba(0, 0, 0, 0.2));
  }

  .search-query {
    height: 100%;
    font-size: 20px;
    border: none;
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 3;
    &:focus {
      border: none;
      outline: none;
    }


  }

  .suggestion-parent,
  .suggestion-parent-loaded {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 100%;
    z-index: 2;
    @include boxShadow();

    .suggestion-option {
      cursor: pointer;
      outline: none;
      display: inline-flex;
      width: 100%;
      //border-bottom-right-radius: 30px;
      //border-bottom-left-radius: 30px;
      @include Transition(all,0.3s);
      min-height: 20px;
      &:first-child {
        border-top: 1px solid #ccc;
      }

      .suggestion-text {
        align-self: center;
      }

      &:last-child {
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
      }

      &:hover {
        background-color: #ebedee;
      }
    }
  }

  .magnify {
    cursor: pointer;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 48px;
    order: 0;
    display: flex;
    justify-content: center;
  .hsuHs{
    margin: auto;
    color: #9aa0a6;
    padding: 0 10px 0;
    .wFncld {
      margin-top: 6px;
      color: #9aa0a6;
      height: 20px;
      width: 20px
    }
  }
  }

  .suggestion-magnify {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    width: 8%;
    height: 64px;

    .hsuHs {
      color: #9aa0a6;
      align-self: center;
    }
  }

  .loader {
    border: 16px solid #ffffff;
    @include borderRadius(50%);
    border-top: 16px solid #928f8f;
    border-bottom: 16px solid #928f8f;
    width: 15%;
    height: 15%;
    margin-top: -7px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes for Top Icon Animation */
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

//Keyframes for logo
@keyframes logoFill {
  0% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }

}

@-webkit-keyframes logoFill {
  0% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@-moz-keyframes logoFill {
  0% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.search-query-parent-loaded:nth-child(2) {
  justify-content: end;
}

/* Responsive Design*/
.logo-black {
  fill: #000000;
}

.logo-eyes {
  opacity: 1;
  fill: #000000;
  animation: blink 5s infinite;
  animation-timing-function: step-end;
}

.logo-white {
  fill: #ffffff
}

@keyframes blink {
  5% {
    fill: #fff;
  }
  10% {
    fill: #000;
  }
  15% {
    fill: #fff;
  }
  20% {
    fill: #000;
  }
  25% {
    fill: #fff;
  }
  30% {
    fill: #000;
  }
  35% {
    fill: #000;
  }
  55% {
    fill: #fff;
  }
  60% {
    fill: #000000;
  }

  90% {
    fill: #000000;
  }
}
@import "media_queries";