@font-face {
    font-family: 'myIcons';
    src:  url('../fonts/myIcons.eot?jdp659');
    src:  url('../fonts/myIcons.eot?jdp659#iefix') format('embedded-opentype'),
    url('../fonts/myIcons.ttf?jdp659') format('truetype'),
    url('../fonts/myIcons.woff?jdp659') format('woff'),
    url('../fonts/myIcons.svg?jdp659#myIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'myIcons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e90e";
}
.icon-heart:before {
    content: "\e90e";
}
.icon-music:before {
    content: "\e911";
}
.icon-play:before {
    content: "\ea15";
}
.icon-pause:before {
    content: "\ea16";
}
.icon-stop:before {
    content: "\ea17";
}
.icon-previous:before {
    content: "\ea18";
}
.icon-next:before {
    content: "\ea19";
}
.icon-backward:before {
    content: "\ea1a";
}
.icon-forward:before {
    content: "\ea1b";
}
.icon-play3:before {
    content: "\ea1c";
}
.icon-pause2:before {
    content: "\ea1d";
}
.icon-stop2:before {
    content: "\ea1e";
}
.icon-backward2:before {
    content: "\ea1f";
}
.icon-forward3:before {
    content: "\ea20";
}
.icon-first:before {
    content: "\ea21";
}
.icon-last:before {
    content: "\ea22";
}
.icon-previous2:before {
    content: "\ea23";
}
.icon-next2:before {
    content: "\ea24";
}
.icon-eject:before {
    content: "\ea25";
}
.icon-volume-high:before {
    content: "\ea26";
}
.icon-volume-medium:before {
    content: "\ea27";
}
.icon-volume-low:before {
    content: "\ea28";
}
.icon-volume-mute:before {
    content: "\ea29";
}
.icon-volume-mute2:before {
    content: "\ea2a";
}
.icon-volume-increase:before {
    content: "\ea2b";
}
.icon-volume-decrease:before {
    content: "\ea2c";
}
.icon-checkbox-unchecked:before {
    content: "\ea53";
}
.icon-share:before {
    content: "\ea82";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-heart-outline:before {
    content: "\e90d";
}
.icon-download:before {
    content: "\e90b";
}
.icon-star-fill:before {
    content: "\e900";
}
.icon-star1-outline:before {
    content: "\e901";
}
.icon-mp4-fill:before {
    content: "\e902";
}
.icon-mp4-outline:before {
    content: "\e903";
}
.icon-mp3-fill:before {
    content: "\e904";
}
.icon-mp3-outline:before {
    content: "\e905";
}
.icon-checkbox-checked:before {
    content: "\e90a";
}
.icon-adult:before {
    content: "\e908";
}
.icon-education:before {
    content: "\e909";
}
.icon-software:before {
    content: "\e907";
}
.icon-movie:before {
    content: "\e906";
}
