@import "functions";

@font-face {
  font-family: 'myFont';
  src: local('Handlee'), url('../fonts/Handlee-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: "myFont", serif;
}

.list-videos {
  width: 100%;
}

.sv-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}

.sv-parent-youtube {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
  cursor: pointer;
}

.sv-metadata-line {
  color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
  max-width: 100%;
  max-height: calc(2 * var(--yt-thumbnail-attribution-line-height, 1.8rem));
  overflow: hidden;
  font-size: var(--ytd-thumbnail-attribution_-_font-size);
  font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
  line-height: var(--ytd-thumbnail-attribution_-_line-height);
  letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
  text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  display: inline-flex;
}

.sv-thumbnail-image-movie {
  display: block;
  width: 50%;
  height: auto;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.68);
  position: relative;
  z-index: 1;
  margin: 10px auto;
}

.sv-thumbnail-image {
  width: 100%;
  height: 100%;
}

.sv-video-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #030303;
  color: #ffffff;
  font-size: 12px;
  padding: 0.5vh;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: .25em 0 0 black,
    .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 black,
    .5em 0 0 black;
  }
}

.sv-thumbnail-youtube {
  position: relative;
  margin-right: 16px;
  max-width: 360px;
  min-width: 240px;
  flex-basis: 0;
  cursor: pointer;
}

.sv-thumbnail {
  position: relative;
  height: 30vh;
  width: 50vh;
}

.sv-thumbnail-movie {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 20%;
  display: flex;
  align-items: center;
  cursor: pointer;
  //margin:2%;
}

.sv-thumbnail-adult {
  position: relative;
  height: 30vh;
  width: 50vh;
  cursor: pointer;
}

.sv-detail {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 10px;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.sv-title-youtube {
  text-decoration: none;

  color: #030303;
  -webkit-line-clamp: 2;
  display: block;
  max-height: calc(2 * 2.4rem);
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4rem;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
}

.sv-title {
  text-decoration: none;

  color: #030303;
  -webkit-line-clamp: 2;
  display: block;
  max-height: calc(2 * 2.4rem);
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.4rem;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
}

.sv-views {
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

  &:after {
    content: "•";
    margin: 0 4px;
  }
}

.imdb-rate-star {
  font-size: 18px;
  color: #f5c518;
}


#sv-download-video-options.sv-download-video-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;

}

#sv-download-audio-options.sv-download-audio-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;
}

#sv-download-video-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

#sv-download-audio-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.sv-quick-download {

  &:hover {
    border-radius: 8px;
    fill: #f37236;
    color: #f37236;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  }

  display: flex;
  flex-direction: column;
  border-spacing: 10px;
  cursor: pointer;
  margin: auto
}

.sv-download-audio {
  margin-top: 10px;
  border-radius: 8px;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #eee;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;

  }
}

.sv-quick-download-icon {
  height: 40px;

}

.sv-quick-download-icon-text {
  font-size: 12px;
  text-align: center;
}

.sv-download-video {
  text-align: -webkit-center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.sv-dropdown-svg {
  padding-left: 8px;
  height: 15px;
  width: 15px;
}

.sv-description {
  padding-top: 10px;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;
}

.sv-published-date, .sv-owner {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

}

.sv-download-link {
  width: 15%;
  min-width: 15vw;
  padding-right: 10px;

}

.url-link {
  margin-left: 8px;
  color: #007bff;
}

.url-section {
  display: flex;
  flex-direction: row;
  color: black;

}

/* Responsive Design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sv-parent {
    flex-direction: column;
    padding: 7% 0 7% 0;

    .sv-thumbnail {
      width: 85%;
      margin: 0 auto;
      height: fit-content;
    }

    .sv-thumbnail-youtube {
      width: 85%;
      margin: 0 auto;
      height: fit-content;
    }

    .sv-thumbnail-movie {
      width: 85%;
      margin: 0 auto;
      height: fit-content;
    }

    .sv-download-link {
      width: 96%;
      padding: 3px;
      margin: 0 auto;
    }

    .sv-download-video {
      padding: 0;
    }

    .sv-download-audio {
      padding: 10px 0 10px 0;
    }

    .sv-detail {
      width: 96%;
      margin: 0 auto;
      padding: 3px;
      text-align: justify;

      .sv-title {
        font-weight: 700;
      }

      .sv-description {
        padding: 10px 10px 10px 0;
        max-height: fit-content;
      }
    }
  }
}

.back-blur {
  //filter: blur(8px) grayscale(1);
  //-webkit-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: block;
  //background-size: cover;
  position: absolute;
  backdrop-filter: blur(8px);
  z-index: 1;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sv-download-link {
    width: 27%;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sv-download-link {
    width: 19%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}


.sv-modal-parent {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 222;

  &.open {
    transform: scale(1);

    .sv-modal-overlay {
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .sv-modal-overlay .sv-modal-container {
      transform: translateX(-1500px);
      animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  &.close {
    transform: scale(1);
    animation: quickScaleDown 0s 0.5s linear forwards;

    .sv-modal-overlay {
      animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .sv-modal-container {
        animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }

  .sv-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;

    .sv-modal-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 1);
      transform: translate(-50%, -50%);
      z-index: 5;
      font-family: "myFont", serif;
      padding: 5px 20px 13px 20px;
      @include borderRadius(10px);
      @include boxShadow(0, 0, 10px, #000);
    }
  }

  .sv-modal-head {
    width: 100%;

    h3 {
      text-align: left;
      border-left: 2px solid #c6c6c6;
      padding: 0 0 0 2%;
      margin: 2%;
    }

    .sv-modal-close-button {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      @include borderRadius(12px);
      @include boxShadow(0, 0, 10px, #000);
      @include Transition(all, 0.5s, ease-out, 0.2s);

      &:hover {
        background: #007bff;
      }

      cursor: pointer;
    }
  }

  .sv-modal-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &-body {
      width: 100%;
      //font-size: 3vh;
      background: transparent;

      .sv-modal-box {
        width: 100%;
        position: relative;
        height: auto;
        display: flex;
        //font-size: 2vh;
        border-radius: 3px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .sv-modal-qualities {
          border-radius: 0;
          overflow: hidden;
          width: 100%;

          .sv-modal-quality {
            width: 100%;
            color: white;
            overflow: hidden;

            &-label {
              @include boxShadow(2px, 2px, 2px, #ccc);
              @include Transition(all, 200ms, ease);
              display: flex;
              justify-content: space-between;
              padding: 1em;
              color: #000;
              background: transparent;
              font-weight: bold;
              cursor: pointer;
              /* Icon */
              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }

              &::after {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                @include Transition(all, 0.35s, ease);
              }
            }

            &-content {
              max-height: 0;
              padding: 0 1em;
              color: #fff;
              background: white;
              @include Transition(all, 0.35s, ease);
            }

            &-close {
              display: flex;
              justify-content: flex-end;
              padding: 1em;
              font-size: 0.75em;
              background: #fff;
              cursor: pointer;

              &:hover {
                background: #fff;
              }
            }

            &.active {
              .sv-modal-quality-content {
                max-height: 300px;
                width: 100%;
                overflow-y: scroll;
                padding: 1em;
              }

              .sv-modal-quality-content div {
                line-height: 3vh;
                cursor: pointer;
              }

              .sv-modal-quality-content div.url-link:hover {
                text-decoration: underline;
              }

              .sv-modal-quality-content div.url-section:hover {
                text-decoration: underline;
              }

              .sv-modal-quality-label::after {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
              }
            }
          }

          .sv-modal-quality.active {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

//Animation Keyframes

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}