.sm-parent,.sm-parent-loaded {
  position: relative;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-self: center;
  margin: 2px 0 2px 0;
  transition: all 400ms;
  box-shadow: 0 1px 5px #e7e7e7;
  cursor: pointer;
  &:hover{
    box-shadow: 1px 2px 5px #efefef;
    background: #f6f6f6;
  }
  .sm-thumbnail,.sm-thumbnail-loaded{
    width: 6%;
    padding: 5px 40px 5px 40px;
    position: relative;
    border-radius: 5px;
    img{
      width: 100%;
    }
  }
  .sm-song {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .sm-details {
      display: flex;
      position: relative;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      .sm-right{
        right: 0;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        display: flex;
        font-size: 2vw;
        .sm-duration{
          font-size: 1vw;
        }
      }
      .sm-title{
        width: calc(100% - 150px);
        padding:0 20px 0 20px;
      }
      .sm-name {

      }
      .sm-artist {
        color: #929292;
      }
      .sm-download-links {
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        transition: all 700ms;
        font-weight: 600;
        &:hover{
          color: #ff7940;
          transform: scale(1.2);
        }
      }
      .sm-favorite{
        font-size: 1.0vw;
        //color: #ba2828;
      }
    }
  }
  &:nth-child(2n+1) {
  }
}
.sm-parent-loaded{
  background: #ececec;
  box-shadow: 0 1px 3px #b4b4b4;
  border-radius: 5px;

}
.sm-player {
  box-shadow: 0 1px 9px #b4b4b4;
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    bottom: 60px;
  }
}

.sm-player-controls {
  padding-left: 20px;
  margin: auto 0;
  .icon-play3,.icon-pause2{
    cursor: pointer;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;

  }
}
.sm-player-elapsed {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto 0;

}

.seek {
  //border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 1;
  background: transparent;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #ff7940;
    cursor: pointer;
    border-radius: 8px;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #ff7940;
    cursor: pointer;
    border-radius: 8px;
  }
}

.sm-player-progress {
  margin: auto 0;
  flex-basis: calc(100% - 30px);
  height: 4px;
  border-radius: 5px;
  background-color: #ccc;
  position: relative;

}

.loaded {
  border-radius: 5px;
  background-color: #838383;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.played {
  border-radius: 5px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.sm-player-duration {
  padding-left: 20px;
  align-self: center;
  padding-right: 30px;
  right: 0;
  position: relative;

}
@-webkit-keyframes bubble_out {
  0%,
  to {
    -webkit-transform: scale(.88);
    transform: scale(.88)
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes bubble_out {
  0%,
  to {
    -webkit-transform: scale(.88);
    transform: scale(.88)
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
